# Maven derleme çıktısı
/target/

# IntelliJ IDEA dosyaları
.idea/
*.iml
*.ipr
*.iws

# Log dosyaları (eğer uygulaman log oluşturuyorsa)
*.log

# macOS specific files
.DS_Store

# Diğer genel geçici dosyalar
*.swp
*~